body, html {
    height: 100%;
}
h1 {
    font-family: Dosis, sans-serif;
    text-align: center;
    font-size: 80px;
    margin: 0;
}
h2 {
    font-family: Dosis, sans-serif;
    text-align: center;
    font-size: 50px;
}
p {
    font-family: Dosis, sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
/*------------------------------------*
/          MAIN MENU STYLES           /
*------------------------------------*/
.setup {
    margin-top: 250px;
    width: 100%;
    height: 100%;
}
.menu {
    margin-top: 80px;
}
.setup-buttons, .return-button {
    display: inline-block;
    list-style-type: none;
    font-family: Dosis, sans-serif;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 300px;
    position: relative;
}
.setup-buttons div, .return-button {
    display: inline-block;
    margin-left: 25px;
    border: 1px solid #000000;
    border-radius: 1000px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 145px;
    text-align: center;
    transition: all 0.3s ease;
    position: relative;
}
.setup-buttons a {
    color: #333333 !important;
    text-decoration: none;
    font-style: normal;
}
.play-button:hover, #easy:hover {
    background-color: #52aa5e;
    transform: scale(1.3);
    border: 3px solid #42884b;
}
.instructions-button:hover, .return-button:hover {
    background-color: #2892c2;
    transform: scale(1.3);
    border: 3px solid #20759b;
}
.source-button:hover, #medium:hover {
    background-color: #c2b831;
    transform: scale(1.3);
    border: 3px solid #9b9327;
}
#hard:hover {
    background-color: #f73535;
    transform: scale(1.3);
    border: 3px solid #c62a2a;;
}
.difficulty-button {
    margin-bottom: 20px;
}
.return-button {
    margin-left: 500px;
}
.outer-difficulty-buttons {
    display: none;
}
.rotate {
    -webkit-animation: rotation 4s infinite linear;
}
.instructions {
    display: none;
}
@-webkit-keyframes rotation {
    25% {
        -webkit-transform: rotate(-2deg);
    }
    75% {
        -webkit-transform: rotate(2deg);
    }
}
/*------------------------------------*
/          MAIN GAME STYLES           /
*------------------------------------*/
.game {
    display: none;
    width: 100%;
    height: 100%;
}
.letter-bank {
    width: 100%;
    position: absolute;
    bottom: 4px;
}
ul.letters {
    display: inline;
    font-family: Dosis, sans-serif;
    list-style-type: none;
    font-size: 50px;
    text-transform: uppercase;
    padding: 0;
}
li.letter {
    display: inline-block;
    margin-left: 9px;
    border-radius: 5px;
    cursor: pointer;
    width: 65px;
    text-align: center;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}
li.letter:hover {
    transform: scale(1.1);
}
li.letter:active {
    /*transform: scale(1.5);*/
}
.letter-bank .line {
    width: 99%;
    height: 3px;
    background-color: #cc9aa4;
    position: relative;
    margin-bottom: 9px;
    margin-left: 10px;
}
.letter-ghost {
    display: none;
}