h1 {
    font-family: Dosis, sans-serif;
    text-align: center;
    font-size: 80px;
    margin: 0;
    font-weight: 700;
}
h2 {
    font-family: Dosis, sans-serif;
    text-align: center;
    font-size: 50px;
}
p {
    font-family: Dosis, sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
/*------------------------------------*
/          MAIN MENU STYLES           /
*------------------------------------*/
.setup {
    margin-top: 250px;
    width: 100%;
    height: 100%;
}
.menu {
    margin-top: 80px;
}
.setup-buttons, .return-button {
    display: inline-block;
    list-style-type: none;
    font-family: Dosis, sans-serif;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 300px;
    position: relative;
}
.setup-buttons div, .return-button {
    display: inline-block;
    margin-left: 25px;
    border: 2px solid #000000;
    border-radius: 1000px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 145px;
    text-align: center;
    transition: all 0.3s ease;
    position: relative;
}
.setup-buttons a {
    color: #333333 !important;
    text-decoration: none;
    font-style: normal;
}
.play-button:hover, #easy:hover {
    background-color: #69ea9b;
    transform: scale(1.3);
    border: 3px solid #54bb7c !important;
    color: #3c7f56 !important;
}
.instructions-button:hover, .return-button:hover {
    background-color: #a8e6f4;
    transform: scale(1.3);
    border: 3px solid #86b8c3 !important;
    color: #49758c !important;
}
.source-button:hover, #medium:hover {
    background-color: #fce1a4;
    transform: scale(1.3);
    border: 3px solid #cab483 !important;
    color: #9d9362 !important;
}
#hard:hover {
    background-color: #ffadbf;
    transform: scale(1.3);
    border: 3px solid #cc8a99 !important;
    color: rgba(74, 18, 42, 0.46) !important;
}
.difficulty-button {
    margin-bottom: 20px;
}
.return-button {
    margin-left: 500px;
}
.outer-difficulty-buttons {
    display: none;
}
.button:active {
    transform: scale(0.7);
}
.rotate {
    -webkit-animation: rotation 4s infinite linear;
}
.instructions {
    display: none;
}
@-webkit-keyframes rotation {
    25% {
        -webkit-transform: rotate(-2deg);
    }
    75% {
        -webkit-transform: rotate(2deg);
    }
}
/*------------------------------------*
/          LETTER BANK STYLES         /
*------------------------------------*/
.game {
    display: none;
    width: 1210px;
    height: 800px;
    margin: 95px auto;
    /*border: 4px solid rgb(204, 157, 146);*/
    position: relative;
    border-radius: 4px;
}
.letter-bank {
    width: 100%;
    position: absolute;
    bottom: 4px;
}
ul.letters, ul.formed-word, ul.computer-word {
    /*display: inline;*/
    font-family: Dosis, sans-serif;
    list-style-type: none;
    font-size: 50px;
    text-transform: uppercase;
    padding: 0;
}
li.letter {
    display: inline-block;
    margin-right: 9px;
    border-radius: 5px;
    cursor: pointer;
    width: 65px;
    text-align: center;
    margin-bottom: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
}
li.letter:hover {
    transform: scale(1.1);
}
li.letter:active {
    transform: scale(0.7);
}
.letter-bank .line {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #cc9aa4;
    position: relative;
    margin-bottom: 9px;
}
.letter-ghost {
    display: none;
}
/*------------------------------------*
/          SCOREBOARD STYLES          /
*------------------------------------*/
.scoreboard {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
.scoreboard span {
    font-family: Dosis, sans-serif;
    font-weight: 600;
}
.username {
    -webkit-animation: user-rotate 5s infinite linear;
}
.computer {
    -webkit-animation: computer-rotate 5s infinite linear;
}
@-webkit-keyframes user-rotate {
    25% {
        -webkit-transform: rotate(-2deg);
    }
    75% {
        -webkit-transform: rotate(2deg);
    }
}
@-webkit-keyframes computer-rotate {
    25% {
        -webkit-transform: rotate(2deg);
    }
    75% {
        -webkit-transform: rotate(-2deg);
    }
}
/*------------------------------------*
/          LETTER LIST STYLES          /
*------------------------------------*/
.formed-word, .computer-word {
    border-radius: 4px;
    border: 4px solid rgb(116, 204, 162);
    background-color: rgb(145, 255, 202);
    width: 100%;
    height: 170px;
    padding: 40px !important;
    margin: 79px 0 -35px;
    font-size: 50px;
    transition: all 0.3s ease;
    position: relative;
}
.formed-word-wrapper, .computer-word {
    -webkit-animation: word-rotate 6s infinite linear;
}
.formed-word .letter {
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.word-message {
    text-align: center;
    text-transform: none;
    font-weight: 600;
}
.word-message-computer {
    text-align: center;
    text-transform: none;
    font-weight: 600;
    font-family: Dosis, sans-serif;
    list-style-type: none;
}
@-webkit-keyframes word-rotate {
    25% {
        -webkit-transform: rotate(1deg);
    }
    75% {
        -webkit-transform: rotate(-1deg);
    }
}
/*------------------------------------*
/          BUTTON STYLES              /
*------------------------------------*/
.game-buttons {
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    margin-top: 155px;
}
.game-buttons div {
    font-family: Dosis, sans-serif;
    font-size: 34px;
    font-weight: 600;
    border: 3px solid;
    border-radius: 4px;
    display: inline-block;
    padding: 10px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.2s ease;
}
.game-buttons div:hover {
    transform: scale(1.1);
}
.game-buttons div:active {
    transform: scale(0.7);
}